CGTermProject.xcodeproj/xcuserdata/sideslapd.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CGTermProject.xcodeproj/project.pbxproj

*.xcbkptlist

CGTermProject.xcodeproj/xcuserdata/sideslapd.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
